# Comprehensive Search Test Report

Date: 01/02/2026 Fri 07:25 PM

| AWB | Status | Original Path |
| --- | --- | --- |
| HRZU4542859A | Not Found | N/A |
| MATU2552560A | Not Found | N/A |
| DRYU9700055 | Not Found | N/A |
| MATU4636969 | Found | D:\UnloadingPlans\拾谷SAGSC\Amazon\拾谷\深圳美通(MT)\深圳美通预报文件（不要新建文件夹了，全部文件都在里面）\2024美转加\2024-(US)第95批-MBL MATS8366404000-柜号：MATU4636969 LA-TOR 清关资料 ETA 29 SEP\Unloading Plan-MATU4636969.xlsx |
| MATU4650669 | Not Found | N/A |
| ZCSU7517783A | Not Found | N/A |
| MATU4574846 | Not Found | N/A |
| BSIU3412035A | Not Found | N/A |
| OOCU8713328 | Not Found | N/A |
| RFCU4066399 | Not Found | N/A |
